html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}
/* Globales */


h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 3rem;
}


a {
    text-decoration: none;
    color: #000
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    
}

img {
    max-width: 100%;
    display: block;
}


/* Header y Navegacion */

.nombre-sitio {
    color: #000;
    margin-top: 5rem;
    text-align: center;
}
 .nombre-sitio span {
    color: #037bc0;
}

.contendor-navegacion {
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px;
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    height: 55rem;
    background-size: cover;
    background-position: center center;
}

/* Categorias */
.categorias {
    padding-top: 5rem;
}
.categorias h2{
    text-align: center;
}
.listado-categoria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 1rem ;
}
/* Bloque Nosotros */

.sobre-nosotros {
    background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    
    
}

.contendor {
    display: grid;
}
.sobre-nosotros-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}
.texto-nosotros {
    grid-column: 3 / 4;
}