html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}
/* Globales */


h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 3rem;
}


a {
    text-decoration: none;
    color: #000
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    
}

img {
    max-width: 100%;
    display: block;
}

/* Utilidades */
.text-center {
    text-align: center;
}

/* Header y Navegacion */

.nombre-sitio {
    color: #000;
    margin-top: 5rem;
    text-align: center;
}
 .nombre-sitio span {
    color: #037bc0;
}

.contendor-navegacion {
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px;
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    height: 55rem;
    background-size: cover;
    background-position: center center;
}

/* Categorias */
.categorias {
    padding-top: 5rem;
}
.categorias h2{
    text-align: center;
}
.listado-categoria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 1rem ;
}
/* Bloque Nosotros */

.sobre-nosotros {
    background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    padding: 10rem 0;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    margin: 5rem; 
}

.sobre-nosotros-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
}
.texto-nosotros {
    grid-column: 2 / 3;
    color: #fff;
}
/* Listado de productos */

.contenido-principal {
    padding-top: 5rem;
}
.producto {
    background-color: #037bc0;
}
.texto-producto {
    text-align: center;
    color: #fff;

}
.texto-producto h3 {
    margin: 2rem;
}
.texto-producto p {
   margin: 0 0 0 0;
   padding: 2rem;
}

.precio {
    font-size: 2.8rem;
    font-weight: 900;

}
.texto-producto a {
    background-color: #8cbc00;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    
}

